 .f-container{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(3, 3, 43, 0.925);
} 

.footer-cnt{
    display: flex;
    flex-direction: row;
   
    padding-top: 30px;
    padding-bottom: 20px;
    
}

.about-cnt{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 50px;
}

.link-cnt{
    display: flex;
    flex-direction: column;
    /* text-decoration-color: white; */
}

.anc-tag{
    text-decoration: none;
    color: white;
    font-size: small;
    padding-top: 5px;
}

.help-cnt{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 50px;
}
.consumer-cnt{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 50px;
}

.social-cnt{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 50px;   
}

.mail-cnt{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 80px;
    padding-left: 30px; 
    border-left: 1px solid #454d5e;
}
.address-cnt{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 50px; 
}

.p-tag{
    color: white;
    font-size: small;
    padding-top: 0px;
    display: flex;
}


/* bottom */

.bottom-cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 20px;
    border-top: 1px solid #454d5e;
    border-bottom: 1px solid #454d5e;
    padding-bottom: 10px;
}

.btm-text{
    color: white;
    margin-top: 15px;
    
}

/* icons */

.footer-icon{
    color: rgba(239, 170, 7, 0.926);
}