.header{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    
   
}

.img
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.images{
    width: 60%;
}

h4
{
    font-size: 15px;
}
/*.h
{
    display: flex;
    flex-direction: row;
    justify-content:center;
} */